<footer class="bg-gray-100">
  <div class="w-full p max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="flex flex-col flex-wrap">
      <div>
        <h3 class="font-semibold text-gray-500 text-3xl mb-3">
          {{"Get the fresh cart app" | translate}}
        </h3>
        <p class="text-gray-400 mb-3">
          {{"We will send you the link to download the app" | translate}}
        </p>
      </div>

      <div>
        <input
          type="text"
          placeholder="Email"
          class="md:w-9/12 me-5 rounded-lg mb-5 md:mb-0 w-full focus:border-emerald-700 focus:ring-emerald-700 focus:outline-none"
        />
        <button
          class="bg-emerald-800 py-2 px-3 w-full md:w-2/12 rounded-lg text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
        >
          {{"Share App Link" | translate}}
        </button>
      </div>
    </div>
    <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 mb-5" />
    <div
      class="flex flex-col md:flex-row gap-y-10 md:gap-y-0 md:justify-between"
    >
      <div class="flex flex-col md:flex-row flex-wrap items-center gap-3">
        <h5 class="text-gray-500">{{"Payment partners" | translate}}</h5>
        <img
          loading="lazy"
          src="assets/images/amazon-pay.png"
          alt="amazon-pay"
          class="h-6 translate-y-2 cursor-pointer"
        />
        <img
          loading="lazy"
          src="assets/images/American-Express-Color.png"
          alt="American-Express"
          class="h-10 translate-y-2 cursor-pointer"
        />
        <img
          loading="lazy"
          src="assets/images/paypal.png"
          alt="paypal"
          class="h-10 translate-y-2 cursor-pointer"
        />
        <img
          loading="lazy"
          src="assets/images/mastercard.webp"
          alt="mastercard"
          class="h-10 translate-y-2 cursor-pointer"
        />
      </div>

      <div class="flex flex-col md:flex-row flex-wrap items-center gap-3">
        <h5 class="text-gray-500">{{"Get deliveries with Fresh Cart" | translate}}</h5>
        <img
          loading="lazy"
          src="assets/images/get-google-play.png"
          alt="Google play store"
          class="h-10 cursor-pointer"
        />
        <img
          loading="lazy"
          src="assets/images/get-apple-store.png"
          alt="App store"
          class="h-10 cursor-pointer"
        />
      </div>
    </div>
  </div>
</footer>
