<div class="w-3/4 my-9 m-auto">
  <h1 class="text-center text-emerald-700 font-semibold text-3xl">
    Register now!
  </h1>
  <p class="text-center text-red-400 text-sm">
    <span
      >DO NOT FORGET YOUR CREDENTIALS... you can always use a password Manager
    </span>
    <br />
    <span>Or get a better brain...</span>
  </p>

  <form [formGroup]="registerForm" (ngSubmit)="submitEvent()" class="mt-5">
    <!-- Error check -->
    @if (errorMSG) {
    <div class="bg-red-400 rounded-lg my-3">
      <p class="text-sm py-2 px-3">Too bad, so sad... this {{ errorMSG }}</p>
    </div>
    }

    <!-- name -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="name"
        type="text"
        name="floating_name"
        id="floating_name"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Name</label
      >

      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (registerForm.get('name')?.touched &&
        registerForm.get('name')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">This is a required field</p>
        } @else if (registerForm.get('name')?.touched &&
        registerForm.get('name')?.errors?.['minlength']) {
        <p class="text-sm py-2 px-3">
          The name should be at-least 3 characters long
        </p>
        } @else if (registerForm.get('name')?.touched &&
        registerForm.get('name')?.errors?.['maxlength']) {
        <p class="text-sm py-2 px-3">
          hmmm... the maximum length is 20, AND I THOUGHT 20 IS TOO MUCH!!!
        </p>
        }
      </div>
    </div>

    <!-- email -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="email"
        type="email"
        name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email address</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (registerForm.get('email')?.touched &&
        registerForm.get('email')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">This is a required field</p>
        } @else if (registerForm.get('email')?.errors?.['email']) {
        <p class="text-sm py-2 px-3">This is not a valid email</p>
        <p class="text-sm py-2 px-3">example&#64;example.com</p>
        }
      </div>
    </div>

    <!-- Password -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="password"
        type="password"
        name="floating_password"
        id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (registerForm.get('password')?.touched &&
        registerForm.get('password')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">This is a required field</p>
        } @else if (registerForm.get('password')?.touched &&
        registerForm.get('password')?.errors?.['pattern']) {
        <p class="text-sm py-2 px-3">
          The password should be at-least <br />
          -8 characters long <br />
          - 1 capital letter <br />
          - 1 small letter <br />
          - a number <br />
          and a special character "&#64;#$%^&+="
        </p>
        }
      </div>
    </div>

    <!-- Confirm password -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="rePassword"
        type="password"
        name="floating_cPassword"
        id="floating_cPassword"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_cPassword"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Confirm password</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (registerForm.get('rePassword')?.touched &&
        registerForm.get('rePassword')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">This is a required field</p>
        } @else if (registerForm.get('rePassword')?.touched &&
        registerForm.get('rePassword')?.errors?.['notMatched']) {
        <p class="text-sm py-2 px-3">Passwords do not match</p>
        }
      </div>
    </div>

    <!-- Phone -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="phone"
        type="tel"
        name="floating_phone"
        id="floating_phone"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_phone"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >phone number</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (registerForm.get('phone')?.touched &&
        registerForm.get('phone')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">This is a required field</p>
        } @else if (registerForm.get('phone')?.touched &&
        registerForm.get('phone')?.errors?.['pattern']) {
        <p class="text-sm py-2 px-3">
          The phone number should be a valid 'EGYPTIAN' phone number
        </p>
        }
      </div>
    </div>

    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="bg-emerald-800 mt-10 py-2 px-3 w-full md:w-2/12 rounded-lg block m-auto disabled:bg-gray-500 disabled:cursor-not-allowed text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
    >
      <!-- Loading check -->
      @if (Loading) {
      <span><i class="fa-solid fa-spinner fa-spin"></i></span>
      } @else {
      <span>Register</span>
      }
    </button>
  </form>
</div>
