<div
  class="w-3/4 my-9 h-[60dvh] m-auto flex flex-col flex-nowrap justify-center"
>
  <h1 class="text-center text-emerald-700 font-semibold text-3xl">
    Reset Password!
  </h1>
  <p class="text-red-500 text-center text-xs">
    if you're here, get yourself some Omega 3
  </p>


  <!-- i like it that way also... i like confusing people -->
  @if (formFlag) {
  <form [formGroup]="emailSection" class="mt-5 md:relative">
    <!-- Response message -->
    @if (errorMSG) {
    <div class="text-red-400 mb-7 text-center">
      <p class="text-sm py-2 px-3">
        {{ errorMSG }} you don't even remember your own E-MAIL...SHAME
      </p>
    </div>
    } @else if (message) {
    <div class="text-green-400 mb-7 text-center">
      <p class="text-sm py-2 px-3">{{ message }}</p>
    </div>
    }

    <!-- email -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="email"
        type="email"
        name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full md:w-11/12 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />

      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{"Email address" | translate}}</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3 md:w-11/12 md:absolute">
        @if (emailSection.get('email')?.touched &&
        emailSection.get('email')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">{{"This is a required field" | translate}}</p>
        } @else if (emailSection.get('email')?.errors?.['email']) {
        <p class="text-sm py-2 px-3">{{"This is not a valid email" | translate}}</p>
        <p class="text-sm py-2 px-3">example&#64;example.com</p>
        }
      </div>
    </div>

    <div class="text-center">
      <button
        (click)="getCode()"
        [disabled]="emailSection.invalid"
        class="text-blue-600 underline hover:cursor-pointer w-fit hover:text-emerald-700 transition-all duration-300 ease-in-out md:absolute rtl:md:right-[92%] md:-right-[10%] lg:-right-[5%] md:bottom-4 disabled:cursor-not-allowed disabled:text-gray-500"
      >
        @if (Loading) {
        <span class="md:block md:-translate-x-10"
          ><i class="fa-solid fa-spinner fa-spin"></i
        ></span>
        } @else {
        <span>{{"get code" | translate}}</span>
        }
      </button>
    </div>
  </form>

  <br />

  <form [formGroup]="resetCode" class="mt-5">
    @if (errorMSG_Reset) {
    <div class="text-red-400 mb-7 text-center">
      <p class="text-sm py-2 px-3">
        {{ errorMSG_Reset }} i do think that you need glasses
      </p>
    </div>
    }

    <!-- Reset Code -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="resetCode"
        type="text"
        name="floating_resetCode"
        id="floating_resetCode"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_resetCode"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{"Reset Code" | translate}}</label
      >

      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if (resetCode.get('resetCode')?.touched &&
        resetCode.get('resetCode')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">{{"This is a required field" | translate}}</p>
        } @else if (resetCode.get('resetCode')?.errors?.['pattern']) {
        <p class="text-sm py-2 px-3">
          {{"the reset code should be at-least 4 numbers" | translate}}
        </p>
        }
      </div>
    </div>

    <button
      type="submit"
      (click)="resetCodeEvent()"
      [disabled]="resetCode.invalid"
      class="bg-emerald-800 mt-10 py-2 px-3 w-full md:w-2/12 rounded-lg block m-auto disabled:bg-gray-500 disabled:cursor-not-allowed text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
    >
      <!-- Loading check -->
      @if (LoadingReset) {
      <span><i class="fa-solid fa-spinner fa-spin"></i></span>
      } @else {
      <span>{{"Reset Password!" | translate}}</span>
      }
    </button>
  </form>
  }

  <!--(!formFlag)?... yeah... i'm lazy -->
  @if (!formFlag) {
  <form [formGroup]="PasswordReset">
    @if (errorMSG_Reset) {
    <div class="text-red-400 mb-7 text-center">
      <p class="text-sm py-2 px-3">
        {{ errorMSG_Reset }} i don't even know how you did it...
      </p>
    </div>
    }

    <!-- Email -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="email"
        type="text"
        name="floating_email"
        id="floating_email"
        readonly
        [value]="emailSection.get('email')?.value"
        class="read-only:border-gray-600 read-only:focus:ring-0 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]"
        >{{"Email address" | translate}}</label
      >
    </div>

    <!-- Password -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="newPassword"
        type="password"
        name="floating_password"
        id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{"Password" | translate}}</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if ( PasswordReset.get('newPassword')?.touched &&
        PasswordReset.get('newPassword')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">{{"This is a required field" | translate}}</p>
        } @else if ( PasswordReset.get('newPassword')?.touched &&
        PasswordReset.get('newPassword')?.errors?.['pattern']) {
        <p class="text-sm py-2 px-3">
          {{'Password description' | translate}}
        </p>
        }
      </div>
    </div>

    <!-- Confirm password -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="rePassword"
        type="password"
        name="floating_cPassword"
        id="floating_cPassword"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_cPassword"
        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >{{"Confirm password" | translate}}</label
      >
      <!-- validation -->
      <div class="bg-red-400 rounded-lg my-3">
        @if ( PasswordReset.get('rePassword')?.touched &&
        PasswordReset.get('rePassword')?.errors?.['required']) {
        <p class="text-sm py-2 px-3">{{"This is a required field"| translate}}</p>
        } @else if ( PasswordReset.get('rePassword')?.touched &&
        PasswordReset.get('rePassword')?.errors?.['notMatched']) {
        <p class="text-sm py-2 px-3">{{"Passwords do not match" | translate}}</p>
        }
      </div>
    </div>

    <button
      type="submit"
      (click)="newPasswordEvent()"
      [disabled]="PasswordReset.invalid"
      class="bg-emerald-800 mt-10 py-2 px-3 w-full md:w-2/12 rounded-lg block m-auto disabled:bg-gray-500 disabled:cursor-not-allowed text-white hover:bg-emerald-600 focus:bg-emerald-950 transition-all duration-300 ease-in-out"
    >
      <!-- Loading check -->
      @if (LoadingReset) {
      <span><i class="fa-solid fa-spinner fa-spin"></i></span>
      } @else {
      <span>{{"Reset Password!" | translate}}</span>
      }
    </button>
  </form>
  }
</div>
