<div class="m-auto p-0">
  <div class="flex flex-nowrap md:flex-row flex-col">
    <div class="md:w-9/12 order-2 md:order-1">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-1.jpeg"
            alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-2.jpeg"
            alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-3.jpeg"
            alt=""
        /></ng-template>
      </owl-carousel-o>
    </div>

    <div class="md:w-3/12 order-1 md:order-2 flex flex-row md:flex-col flex-nowrap">
      <img
        class="w-1/2 md:w-full md:h-48 object-contain"
        src="assets/images/slider-image-1.jpeg"
        alt=""
      />
      <img
        class="w-1/2 md:w-full md:h-48 object-contain"
        src="assets/images/slider-image-3.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
