<div class="m-auto container">
  <div class="flex flex-nowrap">
    <div class="md:w-9/12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-1.jpeg"
            alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-2.jpeg"
            alt=""
        /></ng-template>
        <ng-template carouselSlide
          ><img
            class="h-96 object-cover"
            src="assets/images/slider-image-3.jpeg"
            alt=""
        /></ng-template>
      </owl-carousel-o>
    </div>

    <div class="md:w-3/12">
      <img
        class="h-48 object-cover"
        src="assets/images/slider-image-1.jpeg"
        alt=""
      />
      <img
        class="h-48 object-cover"
        src="assets/images/slider-image-3.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
